html {
      scroll-behavior: smooth;
    }

    body {
      margin: 0;
      font-family: 'arial';
      background: #f0f0f0;
      
    }

    nav {
      background-color: #DAF7A6;
      padding: 1rem 2rem;
      position: sticky; 
      top: 0;
      z-index: 1000;
    }

    ul.menu {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      justify-content: center;
      
    }

    ul.menu li {
      margin: 0 1rem;
      position: relative;
    }

    ul.menu li a {
      text-decoration: none;
      color: black;
      padding: 0.5rem 1rem;
      display: block;
      transition: background 0.3s, color 0.3s;
    }

    ul.menu li a:hover {
      background-color: green;
      border-radius: 5px;
      color: #fff;
    }

    ul.menu li ul.submenu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #DAF7A6;
      list-style: none;
      padding: 0;
      margin: 0;
      min-width: 150px;
      border-radius: 5px;
    }

    ul.menu li:hover ul.submenu {
      display: block;
    }

    ul.submenu li a {
      padding: 0.5rem 1rem;
    }

    ul.submenu li a:hover {
      background-color: green;
    }

    section {
      padding: 80px 20px;
      border-bottom: 1px solid #ccc;
      background: #fff;
    }

    h1 {
      margin-top: 0;
    }
