body {
    background: #F4EBD9;
    display: flex;
    place-content: left left;

}

.container{
    width: 50%;
}
.container path{
    fill: #DAF7A6;
    stroke: green;
    stroke-width: 2px;
}

.container :hover{
    fill: green ;

}
.info-box {
  margin-top: 20px;
  padding: 15px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px #333;
  max-width: 300px;
}
#imagen-region{
    max-width: 100%;
    height: auto;
    max-width: 150px;
    margin-top: 15px;
    border-radius: 4px;
    display: block;
}




ul.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  ul.menu li {
    margin: 0 1rem;
    position: relative;
  }

  ul.menu li a {
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    display: block;
    transition: background 0.3s, color 0.3s;
  }

  ul.menu li a:hover {
    background-color: green;
    border-radius: 5px;
    color: #fff;
  }

  ul.menu li ul.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #DAF7A6;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 150px;
    border-radius: 5px;
  }

  ul.menu li:hover ul.submenu {
    display: block;
  }

  ul.submenu li a {
    padding: 0.5rem 1rem;
  }

  ul.submenu li a:hover {
    background-color: green;
  }
